:root {
  --empty: black;
  --legal: white;
  --first-light: #95c25a;
  --first-dark: #66902e;
  --first: radial-gradient(var(--first-light), var(--first-dark));
  --second-light: #7251b8;
  --second-dark: #52368f;
  --second: radial-gradient(var(--second-light), var(--second-dark));
}

.board {
  display: grid;
  width: calc(100vmin - 5vmax);
  height: calc(100vmin - 5vmax);
  justify-content: center;
  align-content: center;
  column-gap: var(--narrow);
  row-gap: var(--narrow);
  background: gray;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(100vmin / 15);
  border-radius: var(--border-radius);
  text-shadow: 0 0 1px var(--legal);
  user-select: none;
}
.square--first {
  background: var(--first);
  color: black;
}
.square--second {
  background: var(--second);
  color: black;
}
.square--empty {
  background: var(--empty);
  filter: none;
}
.square--selected {
  color: var(--highlight);
  box-shadow: 0px 0px var(--wide) var(--narrow) var(--highlight);
  text-shadow: 0 0 1px var(--empty);
}
.square--legal {
  box-shadow: inset 0px 0px var(--wide) var(--narrow) var(--legal);
}
