:root {
    --card-width: 24rem;
}

.card {
    border: 1px solid var(--main-fg);
    color: var(--main-fg);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: var(--wide);
    border-radius: var(--border-radius);
    width: var(--card-width);
}

.card--link:hover {
    background-color: var(--main-fg);
    color: var(--main-bg);
}

.card__image {
    width: calc(var(--card-width) - (2 * var(--wide)));
    height: calc(var(--card-width) - (2 * var(--wide)));
}

.main-menu {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    row-gap: var(--wide);
    flex-wrap: wrap;
    column-gap: var(--wide);
    justify-content: space-evenly;
}

.main-menu__header {
    width: 100%;
}

.main-menu__title {
    padding: var(--wide); 
    margin: 0;
    text-align: center;
}