.wheel {
  background-color: antiquewhite;
  color: black;
  font-size: x-large;
  border: 1px solid black;
  text-align: center;
  padding: var(--narrow);
}
.lever {
  height: 20px;
  width: 100px;
  margin: 50px 25px 0 0;
  transform: rotate(300deg);
  color: black;
  grid-column: 1 / span-all;
  justify-self: end;
  border: none;
  background: radial-gradient(silver, #a5a3a3);
  box-shadow: calc(-1 * var(--narrow)) var(--narrow) var(--narrow) 0px rgba(0, 0, 0, 0.25);

}
.machine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: radial-gradient(gold, goldenrod);
  padding: var(--wide);
}
.casino {
  display: grid;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--wide);
}
.number-display {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.wheel__face {
  background-color: transparent;
  border: none;
}
.wheel__face--selected {
  background: linear-gradient(0turn, transparent, white 60%, transparent);
  transform: scaleY(1.1);
  border-color: var(--highlight);
  border-style: ridge;
  border-top-width: 0;
  border-bottom-width: 0;
  
}
.wheel__face--top {
  transform: rotateX(45deg);
}
.wheel__face--bottom {
  transform: rotateX(-45deg);
}

@media (prefers-reduced-motion: no-preference) {
  .flash {
    animation-name: flash;
    animation-timing-function: linear;
    animation-duration: 1s;
  }
  .pull {
    animation-name: pull;
    animation-timing-function: linear;
  }
}

@keyframes flash {
  0% {
    background-color: var(--highlight);
  }
  100% {
    background-color: antiquewhite;
  }
}

@keyframes pull {
    0% {
      transform: rotate(300deg) translateY(0);
    }
    50% {
      transform: rotate(360deg) translateY(40px);
    }
    100% {
      transform: rotate(300deg) translateY(0);
    }
  }