@font-face {
  font-family: "GeoSansLight";
  src: url("https://localstorage.tools/game/font/GeosansLight.ttf");
}

:root {
  color-scheme: light dark;

  --wide: 12px;
  --narrow: 4px;
  --border-radius: 4px;

  --empty: black;
  --border: white;
  --board: rgb(33, 33, 33);
  --highlight: #fef300;
  --anti-highlight: black;
  --sequence: var(--highlight);
  --anti-sequence: var(--anti-highlight);
  --first-light: #95c25a;
  --first-dark: #66902e;
  --first: radial-gradient(var(--first-light),var(--first-dark) );
  --first-fg: black;
  --anti-first: white;
  --second-light: #7251b8;
  --second-dark: #52368f;
  --second: radial-gradient(var(--second-light), var(--second-dark));
  --anti-second: white;
  --second-fg: black;
}

* {
  box-sizing: border-box;
  font-family: "GeoSansLight", sans-serif;
}

body {
  margin: 0;
}

.game__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--narrow);
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  column-gap: 0;
  row-gap: 0;
  background: var(--board);
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: var(--narrow);
}

.button {
  padding: var(--narrow);
}

.square {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  user-select: none;
  border: none;
  padding: 0;
  font-size: calc(100vmin / 12);
  padding-bottom: calc(100vmin / 80);
}
.square--first {
  background: var(--first);
  color: var(--first-fg);
  text-shadow: 0 0 var(--wide) var(--anti-first);
}
.square--second {
  background: var(--second);
  text-shadow: 0 0 var(--wide) var(--anti-second);
  color: var(--second-fg);
}
.square--empty {
  background: var(--empty);
  border: 1px solid var(--board);
}
.square--sequence {
  color: var(--sequence);
  text-shadow: 0 0 1px var(--anti-sequence);
}
.game__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: var(--wide);
}
.player-data-display {
  padding: var(--narrow) var(--wide);
  border-radius: var(--border-radius);
}
.score {
  margin: 0;
}

.player-data-display--first {
  background: radial-gradient(var(--anti-first), var(--first-dark));;
  color: var(--first-fg);
}
.player-data-display--second {
  background: radial-gradient(var(--anti-second), var(--second-dark));
  color: var(--second-fg);
}

dialog {
    border: none;
    border-radius: var(--border-radius);
    padding: var(--narrow) var(--wide);
}

dialog header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: var(--wide);
    font-size: 1.5rem;
}
dialog header h2 {
    margin: 0;
    font-size: 1.5rem;
}

dialog header .header__option {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.icon {
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--border);
    text-align: center;
}